@font-face {
	font-family: "Rajdhani";
	src: url('../fonts/Rajdhani/Rajdhani-Regular.ttf');
}

/*@font-face {
	font-family: "Rajdhani";
	src: url('assets/fonts/Rajdhani/Rajdhani-Bold.ttf');
	font-weight: bold, 700;
}

@font-face {
	font-family: "Rajdhani";
	src: url('assets/fonts/Rajdhani/Rajdhani-Light.ttf');
	font-weight: 300;
}

@font-face {
	font-family: "Rajdhani";
	src: url('assets/fonts/Rajdhani/Rajdhani-Medium.ttf');
	font-weight: 500;
}

@font-face {
	font-family: "Rajdhani";
	src: url('assets/fonts/Rajdhani/Rajdhani-SemiBold.ttf');
	font-weight: 600;
}*/

@font-face {
	font-family: 'Lobster';
	src: url('../fonts/Lobster/Lobster-Regular.ttf');
}

html {
	margin: 0;
	padding: 0;
	font-family: "Rajdhani", sans-serif;
	font-size: 16px;
}

body {
	margin: 0;
	padding: 0;
}

#page-container {
	width: 100vw;
	height: 100vh;
	overflow: hidden;

}

.perspective-wrapper {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	perspective: 300px;
	transition: 1s;
}

.logo {
	animation: logoRotation 5s linear infinite;
}

.toMenu .perspective-wrapper {
	top: -3%;
	left: 0%;
	transform: scale(0.5);
}

.navbar {
	list-style-type: none;
	line-height: 5rem;
	opacity: 1;
}

.navbar ul {
	display: flex;
	justify-content: flex-end;
}

.navbar li {
	position: relative;
	cursor: default;
	list-style-type: none;
	margin: 0.5rem 2rem;
	opacity: 0;
	overflow: hidden;
	transform: translate(-200px);
	transition: 1s;
}

.navbar li:after {
	content: '';
	color: white;
	position: absolute;
	line-height: 1rem;
	left: 0;
	right: 0;
	bottom: 0;
	height: 1px;
	background-color: black;
	opacity: 1;
	transform: translate(-101%);
	transition: .3s;
}

.navbar li:hover:after {
	transform: translate(0);
}

.toMenu .nav-personal-info {
	transform: translate(0);
	transition-delay: 1000ms;
	opacity: 1;
}

.toMenu .nav-projects {
	transform: translate(0);
	transition-delay: 800ms;
	opacity: 1;
}

.toMenu .nav-languages {
	transform: translate(0);
	transition-delay: 600ms;
	opacity: 1;
}

.toMenu .nav-experiences {
	transform: translate(0);
	transition-delay: 400ms;
	opacity: 1;
}

.toMenu .nav-diplomas {
	transform: translate(0);
	transition-delay: 200ms;
	opacity: 1;
}

.toMenu .nav-hobbies {
	transform: translate(0);
	transition-delay: 0ms;
	opacity: 1;
}

.display {
	opacity: 1 !important;
}

.photo {
	width: 12rem;
	height: auto;
}

.container {
	position: fixed;
	opacity: 0;
	transition: 1s;
}

.photo-container {
	right: 15%;
	top: 20%;
}

.name-wrapper {
	position: fixed;
}



.headline-container {
	opacity: 0;
}



@keyframes logoRotation {
	from {
		transform: rotateY(0deg);
	} to {
		transform: rotateY(360deg);
	}
}

/*
ALL BEYOND RULES ARE FOR PRINT ONLY !!!
*/
@media print {

	body {
		-webkit-print-color-adjust: exact;
	}

	#page-container {
		position: relative;
	}

	.logo {
		position: absolute;
		top: 20px;
		left: 190px;
		opacity: .1;
		transform: rotate(5deg);
		z-index: -2;
	}

	.photo {
		position: absolute;
		top: 15px;
		left: 0px;
		width: 100px;
		border-radius: 0;
		transform: rotate(-1deg);
		opacity: 1;
	}

	.title {
		font-size: 20px;
		text-transform: uppercase;
		margin-bottom: 5px;
	}

	.personal-info-container {
		position: absolute;
		top: 10px;
		left: 120px;
		opacity: 1;
	}

	.name-wrapper {
		position: relative;
		margin-bottom: 10px;
	}

	.name-wrapper:after {
		content: '';
		position: absolute;
		top: -4px;
		left: -5px;
		right: -5px;
		border-bottom: 25px solid #555;
		z-index: -1;
		transform: rotate(-1deg);
	}

	.first-name, .last-name {
		display: inline;
		color: white;
		font-size: 16px;
		text-transform: uppercase;
	}


	.city, .birthdate, .licence, .car {
		font-size: 14px;
	}

	.headline-container {
		position: absolute;
		top: 300px;
		left: 143px;
		font-size: 40px;
		opacity: 1;
	}

	.headline {
		position: relative;
		transform: rotate(-90deg);
		text-transform: uppercase;
		/*font-family: 'Lobster', serif;*/
	}

	/*.headline:after {
		content: '';
		position: absolute;
		top: 0;
		left: -5px;
		right: -5px;
		color: #aaa;
		border-bottom: 40px solid #eee;
		transform: translate(20px, 10px);
		z-index: -1;
	}*/

	.projects-container {
		position: absolute;
		top: 160px;
		left: 0;
		width: 45%;
		opacity: 1;
	}

	.project {
		margin-bottom: 10px;
	}

	.project-name {
		position: relative;
		text-transform: uppercase;
		color: white;
		margin-bottom: 5px;
	}

	.project-name:after {
		content: '';
		position: absolute;
		top: -4px;
		left: -5px;
		right: -5px;
		border-bottom: 25px solid #555;
		z-index: -1;
		transform: rotate(-1deg);
	}

	.project-description {
		font-size: 12px;
	}

	.project-url {
		font-size: 12px;
	}

	.languages-container {
		position: absolute;
		top: 50px;
		right: 0;
		width: 45%;
		text-align: right;
	}

	.languages-title {
		margin-bottom: 5px;
	}

	.languages {
		text-transform: uppercase;
		color: white;
	}

	.languages-name {
		position: relative;
		right: 10px;
	}

	.languages-progress-bar {
		position: relative;
		top: -20px;
		width: 100%;
		border-bottom: 20px solid #ddd;
		z-index: -1;
	}

	.languages-actual-level {
		position: absolute;
		height: 100%;
		border-bottom: 20px solid #555;
		transform: rotate(-1deg);
	}

	/* Progress Bar Size */
	#wordpress { width: 50%; left: 50%; }
	#html5 { width: 85%; left: 15%; }
	#pug { width: 30%; left: 70%; }
	#css3 { width: 70%; left: 30%; }
	#bootstrap { width: 40%; left: 60%; }
	#sass { width: 40%; left: 60%; }
	#javascript { width: 70%; left: 30%; }
	#jquery { width: 50%; left: 50% }
	#vue-js { width: 30%; left: 70%; }
	#php { width: 60%; left: 40%; }
	#mysql { width: 60%; left: 40%; }
	#git { width: 70%; left: 30%; }

	.experiences-container {
		position: absolute;
		top: 590px;
		left: 0;
	}

	.experiences-wrapper {
		display: flex;
		justify-content: space-around;
	}

	.experience {
		padding: 0 15px;
	}

	.experience-name {
		position: relative;
		text-transform: uppercase;
		color: white;
		margin-bottom: 5px;
	}

	.experience-name:after {
		content: '';
		position: absolute;
		top: -4px;
		left: -5px;
		right: -5px;
		border-bottom: 25px solid #555;
		z-index: -1;
		transform: rotate(-1deg);
	}

	.diploma-container {
		position: absolute;
		width: 100%;
		top: 730px;
		left: 0;
		padding: 0.5rem 0;
		background-color: #ddd;
		z-index: -2;
	}

	.diploma-wrapper {
		display: flex;
		justify-content: space-around;
		width: 100%;
	}

	.diploma {
		width: 12rem;
	}

	.diploma-name {
		position: relative;
		text-transform: uppercase;
		color: white;
		margin-bottom: 5px;
	}

	.diploma-name:after {
		content: '';
		position: absolute;
		top: -4px;
		left: -5px;
		right: -5px;
		border-bottom: 25px solid #555;
		z-index: -1;
		transform: rotate(-1deg);
	}

	.school, .date {
		display: inline;
	}

	.hobbies-container {
		width: 100%;
		position: absolute;
		top: 870px;
		left: 0;
	}

	.hobbies-wrapper {
		display: flex;
		justify-content: space-around;
	}

	.hobby {
		width: 130px;
	}

	.hobby-name {
		position: relative;
		text-transform: uppercase;
		color: white;
	}

	.hobby-name:after {
		content: '';
		position: absolute;
		top: -4px;
		left: -5px;
		right: -5px;
		border-bottom: 25px solid #555;
		z-index: -1;
		transform: rotate(-1deg);
	}

	.hobby-details ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}





	.soft-skills-container, .hard-skills-container {
		display: none;
	}





}
